body{
    background-image: url(./Images/Backgroundimage.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Pedestrian side */
.light-checker{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 60vh;
    height: 70vh;
}

.light-checker h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.light-checker i{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.light-checker.traffic-light{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.light-red{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    margin: 0 10px;
}

.light-yellow{
    width: 50px;
    height: 50px;
    background-color:yellow;
    border-radius: 50%;
    margin: 10px 10px;
}

.light-green{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    margin: 0 10px;
}

.pedestrian-lights{
    margin: -150px auto;
}

/* Car side */
.traffic-checker{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    width: 60vh;
    height: 70vh;
    padding: 1rem;
    border-radius: 10px;
}

.traffic-checker i{
    color: white;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.traffic-checker .traffic-lights{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.traffic-checker h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.traffic-checker i{
    font-size: 5rem;
    margin-bottom: 1rem;
    color: white;
} 

.car-lights{
    margin: 50px 390px;
}

/* Alert message */
.alertMessage{
    width: 300px;
    border-radius: 20px;
    
    margin: 90px 90px 90px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: white solid 3px;
}

.alertMessage::before{
    content: ""; /* Create a pseudo-element to display the triangle */
    position: absolute;
    top: 30%; /* Position the triangle at the top of the alert message */
    left: -11px; /* Position the triangle in the middle of the alert message */
    transform: translateX(-50%); /* Center the triangle horizontally */
    border-top: 10px solid transparent; /* Make the triangle transparent */
    border-left: 10px solid transparent; /* Make the triangle transparent */
    border-right: 10px solid white; /* Make the triangle transparent */
    border-bottom: 10px solid transparent; /* Make the triangle white */

}
